@tailwind base;
@tailwind components;
@tailwind utilities;

.required::after {
  content: "*";
  color: red;
}

.table-container {
  overflow-x: visible; /* Membuat konten tabel dapat melampaui batas */
  max-width: 100%; /* Mengatur lebar maksimum untuk kontainer */
}